name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Run BitXHub Solo
        run: |
          CURRENT_PATH=$(pwd)
          export PATH=$PATH:$(go env GOPATH)/bin
          git clone https://github.com/meshplus/bitxhub.git
          cd bitxhub && git checkout master
          make prepare
          cd scripts && nohup bash solo.sh &
          sleep 60


      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run Unit tests
        run: |
          cd "${CURRENT_PATH}"
          mvn clean test
          mvn jacoco:report
          pkill -9 bitxhub

      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v1.0.0
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./target/site/jacoco/jacoco.xml


  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn clean package -DskipTests
